<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pinry-saver-ios-2.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>F5F3D7AB912279A49247E59C4C9EF98642AA1F42</string>
				<key>dateExpires</key>
				<string>10/2/26</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F5F3D7AB912279A49247E59C4C9EF98642AA1F42</string>
						<key>dateExpires</key>
						<string>10/2/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>6PB44SHJS5.com.example.pinrysaver.shareextension</string>
						<key>com.apple.developer.team-identifier</key>
						<string>6PB44SHJS5</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.com.example.pinry</string>
						</array>
						<key>get-task-allow</key>
						<true/>
						<key>keychain-access-groups</key>
						<array>
							<string>6PB44SHJS5.com.example.pinrysaver.shareextension</string>
						</array>
					</dict>
					<key>name</key>
					<string>PinryShareExtension.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>ab866fb5-b902-4837-8f9e-7ee620054265</string>
						<key>dateExpires</key>
						<string>10/11/25</string>
						<key>name</key>
						<string>iOS Team Provisioning Profile: com.example.pinrysaver.shareextension</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6PB44SHJS5</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>6PB44SHJS5.com.example.pinrysaver</string>
				<key>com.apple.developer.team-identifier</key>
				<string>6PB44SHJS5</string>
				<key>com.apple.security.application-groups</key>
				<array>
					<string>group.com.example.pinry</string>
				</array>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>6PB44SHJS5.com.example.pinryshared</string>
				</array>
			</dict>
			<key>name</key>
			<string>pinry-saver-ios-2.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>bc9d59a1-7604-4663-b8bb-1ad241661b36</string>
				<key>dateExpires</key>
				<string>10/11/25</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.example.pinrysaver</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>6PB44SHJS5</string>
				<key>name</key>
				<string></string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
